### List

In [1]:
my_list = ["banana", "cherry", "apple"]
print(my_list)

['banana', 'cherry', 'apple']

In [2]:
my_list2=list()
print(my_list2)

[]

In [3]:
my_list2=[5,"apple", "apple"]

In [6]:
item=my_list[0]
print(item)

banana

In [7]:
my_list[-1]

'apple'

In [8]:
for i in my_list:
    print(i)

banana
cherry
apple

In [9]:
if 'banana' in my_list:
    print("yes")
else:
    print('no')

yes

In [10]:
len(my_list)

3

In [11]:
my_list.append("lemmon")

In [12]:
print(my_list)

['banana', 'cherry', 'apple', 'lemmon']

In [13]:
my_list.insert(1, "blueberry")
print(my_list)

['banana', 'blueberry', 'cherry', 'apple', 'lemmon']

In [14]:
my_list.pop()
print(my_list)

['banana', 'blueberry', 'cherry', 'apple']

In [15]:
my_list.remove("cherry")
print(my_list)

['banana', 'blueberry', 'apple']

In [16]:
my_list.clear()
print(my_list)

[]

In [27]:
my_list=[4,3,1,-1,-5,10]
print(my_list)

[4, 3, 1, -1, -5, 10]

In [30]:
print(my_list.sort())

None

In [31]:
new_list=sorted(my_list)

In [32]:
print(new_list)

[-5, -1, 1, 3, 4, 10]

In [38]:
my_list=[0,1,2,3,4,5,6,7,8]
my_list2=[1,2,3,4,5,6]
new_list=my_list+my_list2
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6]

In [35]:
my_list[1:5]

[0, 0, 0, 0]

In [36]:
my_list[:5]

[0, 0, 0, 0, 0]

In [39]:
my_list[1:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
my_list[::-1]

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
my_list[::-2]

[8, 6, 4, 2, 0]

In [43]:
list_org=["banana","cherry", "apple"]
list_cpy=list_org

In [44]:
list_cpy.append("lemon")
print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon']

In [45]:
list_cpy=list_org.copy()
list_cpy.append("orange")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'orange']

In [46]:
list_cpy=list(list_org)
list_cpy.append("guava")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'guava']

In [47]:
list_cpy=list_org[:]
list_cpy.append("ice cream")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'ice cream']

In [48]:
list1=[1,2,3,4,5,6]
list2=[i*i for i in list1]
print(list2)

[1, 4, 9, 16, 25, 36]

### Tuples

In [63]:
mytuple=("max", 28, "boston")
print(mytuple)

('max', 28, 'boston')

In [51]:
mytuple={"max",}
print(mytuple)

{'max'}

In [55]:
mytuples=tuple(["max", 28,"Boston"])
print(mytuples)

('max', 28, 'Boston')

In [57]:
item=mytuples[0]
print(item)

max

In [58]:
for i in mytuples:
    print(i)

max
28
Boston

In [59]:
if "max" in mytuples:
    print("yes")
else:
    print("no")

yes

In [64]:
mytuple=('a','p','p','l','e')
print(len(mytuple))

5

In [67]:
print(mytuple.count('p')) # count of an element

2

In [68]:
print(mytuple.index('p')) # Index of an element

1

In [70]:
my_list=list(mytuple)
print(my_list)

['a', 'p', 'p', 'l', 'e']

In [71]:
mytuple=tuple(my_list)
print(mytuple)

('a', 'p', 'p', 'l', 'e')

In [72]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[2:5]
print(b)

[3, 4, 5]

In [ ]:
b=a[::-2] # reverse
print(b)

[10, 8, 6, 4, 2]

In [78]:
mytuple=("max", 28, "boston") ### Unpack
name,age, city=mytuple
print(name)
print(age)
print(city)

max
28
boston

In [79]:
mytuple=(0,1,2,3,4)
i1, *i2,i3=mytuple
print(i1)
print(i2)
print(i3)

0
[1, 2, 3]
4

### Dictionary

In [1]:
mydict={"name":"max", "age":28, "city":"New York"}
print(mydict)

{'name': 'max', 'age': 28, 'city': 'New York'}

In [3]:
mydict2=dict(name="Marry", age=28, city="Boston")
print(mydict)

{'name': 'max', 'age': 28, 'city': 'New York'}

In [4]:
mydict["name"]

'max'

In [5]:
mydict['email']="max@xyz.com"

In [6]:
print(mydict)

{'name': 'max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [7]:
mydict.pop('age')
print(mydict)

{'name': 'max', 'city': 'New York', 'email': 'max@xyz.com'}

In [8]:
if "name" in mydict:
    print (mydict['name'])

max

In [9]:
for key in mydict:
    print(key)

name
city
email

In [11]:
for key in mydict.keys():
    print(key)

name
city
email

In [12]:
for value in mydict.values():
    print(value)

max
New York
max@xyz.com

In [13]:
for key, value in mydict.items():
    print(key, value)

name max
city New York
email max@xyz.com

In [14]:
mydict_cpy=mydict
print(mydict_cpy)
mydict_cpy['email']="abc@xyz.com"
print(mydict_cpy)
print(mydict)

{'name': 'max', 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'max', 'city': 'New York', 'email': 'abc@xyz.com'}
{'name': 'max', 'city': 'New York', 'email': 'abc@xyz.com'}

In [15]:
mydict_cpy=mydict.copy()
print(mydict_cpy)
mydict_cpy['email']="ijk@xyg.com"
print(mydict_cpy)
print(mydict)

{'name': 'max', 'city': 'New York', 'email': 'abc@xyz.com'}
{'name': 'max', 'city': 'New York', 'email': 'ijk@xyg.com'}
{'name': 'max', 'city': 'New York', 'email': 'abc@xyz.com'}

In [2]:
mydict={"name":"Max", "age":28, "email":"max@xyz.com"}
mydict2=dict(name="Marry", age=27, city="Booston")
mydict.update(mydict2)
print(mydict)

{'name': 'Marry', 'age': 27, 'email': 'max@xyz.com', 'city': 'Booston'}

### Set

In [4]:
myset={1,2,3,4,5,2,1}
print(myset)

{1, 2, 3, 4, 5}

In [5]:
myset=set([1,2,3,4,5,6])
print(myset)

{1, 2, 3, 4, 5, 6}

In [6]:
myset=set(["Hello"])
print(myset)

{'Hello'}

In [7]:
myset=set()
myset.add(1)
myset.add(2)
myset.add(3)

myset.discard(1)
print(myset)

{2, 3}

In [8]:
# Union and Intersection 
odds={1,3,5,7,9}
even={0,2,4,6,8}
primes={2,3,5,7}

In [9]:
u=odds.union(even)
print(u)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
i=odds.intersection(even)
print(i)

set()

In [11]:
set1={1,2,3,4,5,6,7,8,9}
set2={1,2,3,10,11,12}

diff=set1.difference(set2)
print(diff)

{4, 5, 6, 7, 8, 9}

In [12]:
diff=set1.symmetric_difference(set2)
print(diff)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

### String

In [14]:
mystring="Hello world"
print(mystring)

Hello world

In [15]:
print(mystring[0])

H

In [18]:
mystring[:5]

'Hello'

In [19]:
mystring = '    Hello World    '
print(mystring)

    Hello World

In [20]:
mystring=mystring.strip()
print(mystring)

Hello World

In [21]:
print(mystring.upper())

HELLO WORLD

In [22]:
print(mystring.lower())

hello world

In [23]:
print(mystring.startswith('World'))

False

In [24]:
print(mystring.endswith('World'))

True

In [25]:
mystring= 'How are you'
mylist= mystring.split()
print(mylist)

['How', 'are', 'you']

In [27]:
var='tom'
mystring = "the variable is %s" % var
print(mystring)

the variable is tom

In [29]:
var=3.12345
mystring = "the variable is %f" % var
print(mystring)

the variable is 3.123450

In [32]:
var=3.12345
var2= 6
mystring = "the variable is {:.2f} and {}".format(var, var2)
print(mystring)

the variable is 3.12 and 6

In [33]:
var=3.12345
var2= 6
mystring = f"the variable is {var} and {var2}"
print(mystring)

the variable is 3.12345 and 6

### Collection

In [40]:
from collections import Counter
a="aaaaabbbbcccc"
mycounter=Counter(a)
print(mycounter)
print(mycounter.items())
print(mycounter.most_common(1)[0][0])

Counter({'a': 5, 'b': 4, 'c': 4})
dict_items([('a', 5), ('b', 4), ('c', 4)])
a

In [42]:
print(list(mycounter.elements()))

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c']

In [44]:
from collections import namedtuple
point=namedtuple("Point","x,y")
pt=point(1,-4)
print(pt)
print(pt.x)

Point(x=1, y=-4)
1

In [52]:
from collections import OrderedDict
a=[1,2,3,4]
b =['a','b','c','d']
c= zip(a,b)
print(tuple(c))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

### Iterrtools

In [54]:
from itertools import product
a= [1,2]
b=[3,4]
prod=product(a,b)
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [55]:
from itertools import permutations
a=[1,2,3]
perm=permutations(a)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [57]:
from itertools import groupby

def smaller_tha2(x):
    return x<3
a=[1,2,3,4]
groupobj=groupby(a,key=smaller_tha2)
for key,value in groupobj:
    print(key,list(value))

True [1, 2]
False [3, 4]

### Lambda function

In [60]:
add10= lambda x:x+10
print(add10(5))

15

In [61]:
mult= lambda x,y:x*y
print(mult(2,7))

14

### Map func

In [62]:
a=[1,2,3,4,5]
b=map(lambda x:x*2, a)
print(list(b))

[2, 4, 6, 8, 10]

In [64]:
b=filter(lambda x:x%2==0,a)
print(list(b))

[2, 4]

In [67]:
x=-5
if x<0:
    raise Exception ('x should be positive')

Exception: x should be positive

In [71]:
x=5
assert (x==0), 'x is not positive'

AssertionError: x is not positive

In [ ]:
try:
    a=5/0
except Exception as e:
    print(f"Zero error happen {e}")

Zero error happen\ division by zero

<>:4: SyntaxWarning: invalid escape sequence '\ '
<>:4: SyntaxWarning: invalid escape sequence '\ '
C:\Users\icfai\AppData\Local\Temp\ipykernel_32304\741817026.py:4: SyntaxWarning: invalid escape sequence '\ '
  print(f"Zero error happen\ {e}")

In [77]:
try:
    a=5/0
    b=a+'10'
except ZeroDivisionError as e:
    print(e)
except TypeError as e:
    print(e)
else:
    print(" everuthing is fine")
finally:
    print("cleaning up...")

division by zero
cleaning up...

In [79]:
class ValueTooHighError(Exception):
    pass

def test_value(x):
    if x>100:
        raise ValueTooHighError('value is too high')

try:    
    test_value(200)
except ValueTooHighError as e:
    print(e)

value is too high

### Random Number

In [80]:
import random

a=random.random()
print(a)

0.4607109459244716

In [81]:
a=random.uniform(1,10)
print(a)

9.565542440242076

In [82]:
a=random.randint(1,10)
print(a)

10

In [85]:
a=random.randrange(1,10)
print(a)

3

In [87]:
a=random.normalvariate(0,1)
print(a)

0.7335383911769576

In [91]:
mylist=list('ABCDEFG')
a=random.sample(mylist,3)
print(a)

['G', 'C', 'E']

### Decorator

In [92]:
@mydecorator
def dosomething():
    pass

NameError: name 'mydecorator' is not defined

In [95]:
def start_end_decorator(func):

    def wrapper():
        print('Start')
        func()
        print('End')
    return wrapper

@start_end_decorator
def print_name():
    print("Alex")

print_name()

Start
Alex
End

In [ ]:
def start_end_decorator(func):

    def wrapper():
        print('Start')
        func()
        print('End')
    return wrapper

@start_end_decorator
def add5():
    return x+5

In [ ]:
import functools

def repaet(num_times):
    def decorator_repeat(func):
        @functools.wraps(func)
        def wrapper(*args, **kwargs):
            for _ in range(num_times)


@repeate(num_times=3)
def great(name):
    print(f'Hello {name}')

### Generator

In [99]:
def mygenerator():
    yield 1
    yield 2
    yield 3

g=mygenerator()

for i in g:
    print(i)

print(sum(g))

print(sorted(g))

1
2
3
0
[]

In [101]:
def countdown(num):
    print('Starting')
    while num>0:
        yield num
        num -=1

cd=countdown(4)

value=next(cd)
print(value)

print(next(cd))

Starting
4
3

In [102]:
def fibonacci(limit):
    a,b =0,1
    while a<limit:
        yield a
        a,b =b,a+b

fib = fibonacci(30)

for i in fib:
    print(i)

0
1
1
2
3
5
8
13
21