### List

In [1]:
my_list = ["banana", "cherry", "apple"]
print(my_list)

['banana', 'cherry', 'apple']

In [2]:
my_list2=list()
print(my_list2)

[]

In [3]:
my_list2=[5,"apple", "apple"]

In [6]:
item=my_list[0]
print(item)

banana

In [7]:
my_list[-1]

'apple'

In [8]:
for i in my_list:
    print(i)

banana
cherry
apple

In [9]:
if 'banana' in my_list:
    print("yes")
else:
    print('no')

yes

In [10]:
len(my_list)

3

In [11]:
my_list.append("lemmon")

In [12]:
print(my_list)

['banana', 'cherry', 'apple', 'lemmon']

In [13]:
my_list.insert(1, "blueberry")
print(my_list)

['banana', 'blueberry', 'cherry', 'apple', 'lemmon']

In [14]:
my_list.pop()
print(my_list)

['banana', 'blueberry', 'cherry', 'apple']

In [15]:
my_list.remove("cherry")
print(my_list)

['banana', 'blueberry', 'apple']

In [16]:
my_list.clear()
print(my_list)

[]

In [27]:
my_list=[4,3,1,-1,-5,10]
print(my_list)

[4, 3, 1, -1, -5, 10]

In [30]:
print(my_list.sort())

None

In [31]:
new_list=sorted(my_list)

In [32]:
print(new_list)

[-5, -1, 1, 3, 4, 10]

In [38]:
my_list=[0,1,2,3,4,5,6,7,8]
my_list2=[1,2,3,4,5,6]
new_list=my_list+my_list2
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6]

In [35]:
my_list[1:5]

[0, 0, 0, 0]

In [36]:
my_list[:5]

[0, 0, 0, 0, 0]

In [39]:
my_list[1:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
my_list[::-1]

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
my_list[::-2]

[8, 6, 4, 2, 0]

In [43]:
list_org=["banana","cherry", "apple"]
list_cpy=list_org

In [44]:
list_cpy.append("lemon")
print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon']

In [45]:
list_cpy=list_org.copy()
list_cpy.append("orange")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'orange']

In [46]:
list_cpy=list(list_org)
list_cpy.append("guava")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'guava']

In [47]:
list_cpy=list_org[:]
list_cpy.append("ice cream")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'ice cream']

In [48]:
list1=[1,2,3,4,5,6]
list2=[i*i for i in list1]
print(list2)

[1, 4, 9, 16, 25, 36]

### Tuples

In [63]:
mytuple=("max", 28, "boston")
print(mytuple)

('max', 28, 'boston')

In [51]:
mytuple={"max",}
print(mytuple)

{'max'}

In [55]:
mytuples=tuple(["max", 28,"Boston"])
print(mytuples)

('max', 28, 'Boston')

In [57]:
item=mytuples[0]
print(item)

max

In [58]:
for i in mytuples:
    print(i)

max
28
Boston

In [59]:
if "max" in mytuples:
    print("yes")
else:
    print("no")

yes

In [64]:
mytuple=('a','p','p','l','e')
print(len(mytuple))

5

In [67]:
print(mytuple.count('p')) # count of an element

2

In [68]:
print(mytuple.index('p')) # Index of an element

1

In [70]:
my_list=list(mytuple)
print(my_list)

['a', 'p', 'p', 'l', 'e']

In [71]:
mytuple=tuple(my_list)
print(mytuple)

('a', 'p', 'p', 'l', 'e')

In [72]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[2:5]
print(b)

[3, 4, 5]

In [ ]:
b=a[::-2] # reverse
print(b)

[10, 8, 6, 4, 2]

In [78]:
mytuple=("max", 28, "boston") ### Unpack
name,age, city=mytuple
print(name)
print(age)
print(city)

max
28
boston

In [79]:
mytuple=(0,1,2,3,4)
i1, *i2,i3=mytuple
print(i1)
print(i2)
print(i3)

0
[1, 2, 3]
4